@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.app-container, .app-container * {
  font-family: 'Roboto', sans-serif !important;
}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}